node_modules
**/build
**/dll
server/versions
front-end/dll
logs
**/*.log
build/
!scripts/build
!recruitment-web/build
yarn-error.log
dist
.nyc_output
coverage/
.idea
.vscode
.cache
.eslintcache
.DS_Store
output/
dll/
jsconfig.json
scripts/node/
**/config/development-local.js
.happypack
!libs/people-biz/dist
!libs/people-ui/dist
!libs/people-ui-adapter/dist
node-v8.11.1.tar.xz
data
